*{
  color: #1c1c1c;
}

html, body{
  scroll-behavior: smooth;
}

img{
  user-select: none;
}

.page__header{
  position:relative;
  top: 0;
  left: 0;
  right: 0;
}

.page__section{
  padding-bottom: 2rem;
}

.logo__image{
  margin-right: 5px;
  min-width: 50px;
}

.logo__heading{
  font-size: 16px;
  min-width: 100px;
}

.header__phone--mobile{
  width: 50px !important;
}

.count__btn{
  padding: 5px 10px !important;
}

.count__btn--mobile{
  width: 70px
}

.header__phone--mobile, .count__btn--mobile{
  height: 50px !important;
  border-radius: 50px !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%) !important;
  color: black !important;
}

.header__cart--count{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
}

.header__phone--mobile:hover{
  color: white;
}

.nav__list{
  list-style: none;
  margin-bottom: 0;
  padding: 10px 0;
}

.nav__link{
  width: auto;
  margin-right: 10px;
  padding: 5px 10px;
  color: black
}

.nav__link:last-child{
  margin-right: 0px;
}

.nav__img{
  margin-right: 5px;
}

.main__cafe{
  /*background-image: linear-gradient(120deg, rgba(253, 251, 251, .8) 0%, rgba(235, 237, 238, .8) 100%), url('../static/jpg/cafe.jpg');*/
  background-image: linear-gradient(to right,  rgba(255, 236, 210, .5) 0%,  rgba(252, 182, 159, .5) 100%), url('../static/jpg/cafe.jpg');
  background-size: cover;
  height: 300px;
  padding: 50px 10px;
  color: white;
}

.products__list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.products__list > .card {
  margin: 0 15px 15px 0;
}

.products__scroll{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  min-width: 100%;
  max-width: 100%;
  overflow: scroll;
  padding: 2px;
}

.products__scroll::-webkit-scrollbar {
  margin: 10px;
  width: 0;
  height: 15px;
  padding-right: 15px;
}

.products__scroll::-webkit-scrollbar-button {
  display: none;
}

.products__scroll::-webkit-scrollbar-track {
  background-color: #999;
}

.products__scroll::-webkit-scrollbar-track-piece {
  background-color: #fff3e0;
}

.products__scroll::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  border-radius: 10px;
}

.products__scroll::-webkit-scrollbar-corner {
  display: none;
}

.products__scroll::-webkit-resizer {
  display: none;
}

.products__card{
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 285px !important;
  max-width: 300px;
  word-break: break-word;
  height: auto;
  margin: 0 25px 25px 0;
}

.products__card--image{
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.products_card:last-of-type{
  margin-right: 0 !important;
}

.quantity_btn{
  padding: 15px 20px !important;
  color: black !important;
}

.products__card--btn, .products__card--add_to_cart_btn{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100px;
  padding: 15px 20px !important;
  color: black !important;
}

.category{
  padding: 2rem 0;
}

.category__heading{
  margin-bottom: 25px;
}

.cart__view{
  overflow: visible;
  overflow-x: scroll !important;
  min-width: 250px;
  max-width: 280px;
  max-height: 300px;
  padding: 5px;
}

.cart__view--img{
  height: 100px;
}

.cart__view::-webkit-scrollbar {
  margin: 10px;
  width: 5px;
  height: 0;
  padding-right: 15px;
}

.cart__view::-webkit-scrollbar-button {
  display: none;
}

.cart__view::-webkit-scrollbar-track {
  background-color: #999;
}

.cart__view::-webkit-scrollbar-track-piece {
  background-color: #fff3e0;
}

.cart__view::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  border-radius: 10px;
}

.cart__view::-webkit-scrollbar-corner {
  display: none;
}

.cart__view::-webkit-resizer {
  display: none;
}

.calculated_btn, .calculated_input{
  width: 50px !important;
  height: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 992px) {
  .delete__btn{
    padding: 15px 20px !important;
    width: 30px;
  }
}
